$narrow: 10vw;
$wide: 5vw;

.My-Nav-Bar {
  visibility: hidden;
  opacity: 0;
  background-color: #231F20;
  width: inherit !important;
  padding: 2px $narrow;
	border-color: transparent;
	background-image: none;
  box-shadow: none;
  transition: 0.5s;
}

.nav-link:hover {
  border-bottom: 2px solid white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.text-center {
  text-align: center;
}

.navbar-nav .nav-link {
    text-align: center;
    min-width: 7em;
    font-size: 0.7em;
    padding: 0.15em 0.25em;
    margin: 0.5em;
    display: inline-block;
    border-radius: 4em;
    border: 0.15em solid transparent;
    background: linear-gradient(0.25turn, #FFFFFF, #c9F0FF, #D5CAd6);
    color: #FFFFFF !important;
    background-position: center center;
    box-shadow:inset 0 0 0 100px #231F20;
    background-size:  110% 110%;
    transition: 0.4s;
}

.Styled-Button {
  cursor: pointer;
  text-align: center;
  min-width: 7em;
  padding: 0.2em 0.4em;
  margin: 0.5em;
  display: inline-block;
  border-radius: 4em;
  border: 0.12em solid transparent;
  background: linear-gradient(0.25turn, #FFFFFF, #c9F0FF, #D5CAd6);
  color: #FFFFFF !important;
  background-position: center center;
  box-shadow:inset 0 0 0 100px #231F20;
  background-size:  110% 110%;
  transition: 0.4s;
}

.navbar-nav .nav-link:hover, .Styled-Button:hover{
  font-weight: bolder;
  color: #231F20 !important;
  font-weight: bolder !important;  
  box-shadow: none;
  transition: 0.4s;
  text-decoration: none;
}

.Content-Wrap {
  background-color: rgba(34, 34, 59, 0.94);
  margin: 0 $narrow 0;
  min-width: 280px;
  transition: 0.4s;
}

@media only screen and (max-width: 576px) {
  .Content-Wrap {
    margin: 0 $wide 0;
  }
  .My-Nav-Bar {
    padding: 2px $wide;
  }
}

@media only screen and (max-width: 767px) {
  #basic-navbar-nav {
    margin-bottom: 5px
  }
}

.Main-Content {
  color: white;
  & > div {
    padding: 2.5em 3vw 2em;
  }
  a {
    color: #c9F0FF;
  }
}

.navbar-toggler {
  padding: 0.15em 0.3em;
  font-size: 1.25em;
  margin-right: 3vw;
  border: 0.15em solid transparent;
  background: linear-gradient(0.25turn, #FFFFFF, #c9F0FF, #D5CAd6);
  background-position: center center;
  box-shadow: inset 0 0 0 100px #231F20;
  background-size: 110% 110%;
  transition: 0.4s;
  line-height: 0.9;
}

.navbar-toggler:hover {
  border: 0.2em solid transparent;
  background: linear-gradient(0.25turn, #FFFFFF, #c9F0FF, #D5CAd6);
  background-position: center center;
  box-shadow: none;
  background-size: 110% 110%;
}

.navbar-brand {
  padding-left: 3vw;
  img {
    height: 2em;
    width: 2em;
  }
}

.navbar-dark .navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
  background-image: url('../img/Burger-Icon.svg');
}

hr {
  border-top: 3px solid white;
  border-radius: 5px;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;;
  font-style: normal;
  font-variant: normal;
  margin: 0;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#Contact *{
  text-align: center;
}

#Contact-Icons {
  img {
    margin: 5px
  }
}

.My-Modal {
  background: #231F20 !important;
  color: white;
  min-width: 274px;
  font-size: 0.8em;
  p {
    font-size: 1em;
  }
}

.react-responsive-modal-closeButton {
  right: 1.2rem !important;
}

.carousel-caption {
  position: relative;
  left: 0;
  right: 0;
  bottom: 15px;
  margin: 0.4em 0;
  p {
    margin: 0;
  }
}

.carousel-inner > .carousel-item > img {
  margin: 0 auto;
}